
        p {text-align: center;
            color: #00004d;
}
        h1 {text-align: center;
            color: #00004d;
        }
        h2{
            text-align: center;
            color: #00004d;
        }
        body { 
            background-color: #F74542;
        }
        img {float: left;

        }
        display